FullRangeOverlap.Rdata
FullPolygons.Rdata
RangeOverlapA.Rdata
BirdRanges.Rdata
FullMammalRanges.Rdata
FullMammalRanges2.Rdata
MammalRanges.Rdata
MammalStack.Rdata
OldFullMammalRanges2.Rdata
OldFullPolygons.Rdata
OldMammalRanges1.Rdata
RangeOverlap.Rdata
RangeOverlapB.Rdata

MammalStackOverlap.Rdata
MammalStackPolygons.Rdata
MammalStackValues.Rdata
